<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <b>Errors:</b>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>


<%= form_for @user do |f| %>
  <fieldset>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </fieldset>
  <fieldset></fieldset>
  <fieldset></fieldset>
  <fieldset></fieldset>
  <fieldset></fieldset>
  <fieldset></fieldset>
  <fieldset></fieldset>
  <fieldset></fieldset>
<% end %>
